<!DOCTYPE html>
<html lang="pt-br">
      <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Rosegolde</title>
            <link rel="shortcut icon" href="../assets/imgs/favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
            <link rel="stylesheet" href="../assets/css/reset.css">
            <link rel="stylesheet" href="../assets/css/style.css"> 
            <link rel="stylesheet" href="../assets/css/responsive.css">
      </head>
      <body>
            <%-include('../include/menu')%>
            <main id="item">
                  <div class="item">
                        <div class="divisao">
                              <div class="photos-card">
                                    <div class="card-item" id="card-item1" onclick="changePhoto1()">
                                          <div class="photo">
                                                <img src="../<%=produto.image1%>" alt="Produto - 1ª imagem">
                                          </div>
                                    </div>

                                    <div class="card-item" id="card-item2" onclick="changePhoto2()">
                                          <div class="photo">
                                                <img src="../<%=produto.image2%>" alt="Produto - 2ª imagem" id="photo2">
                                          </div>
                                    </div>
                              </div>
                              <div class="principal-photo-card">
                                    <img src="../<%=produto.image1%>" alt="Imagem principal" id="principal-photo">
                              </div>
                              <div id="myModal" class="modal">
                                    <span class="close">&times;</span>
                                          <div class="">
                                                <div class="mySlides">
                                                      <img class="modal-content" id="img01">
                                                </div>
                                                <div class="mySlides">
                                                      <img class="modal-content" id="img02">
                                                </div>
                                          </div>
                                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                                    <a class="next" onclick="plusSlides(1)">❯</a>
                              </div>
                        </div>
                        <div class="details">
                              <h1 class="color title"><%= produto.title %> </h1>
                              <h1 class="price"><%= produto.price %> </h3>
                              <div class="size">
                                    <p class="color text">
                                          Tamanho
                                    </p>
                                    <form>
                                          <select name="order" id="order appearance-select" aria-label="Ordenar por:">
                                                <option value="P">P</option>
                                                <option value="M">M</option>
                                                <option value="G">G</option>
                                                <option value="GG">GG</option>
                                          </select> 
                                    </form>
                              </div>
                              <div class="last-details">
                                    <div id="counter">
                                          <button name="Subtrair" onclick="decrement()">-</button>
                                          <span id="currentNumber">1</span>
                                          <button name="Adicionar" onclick="increment()">+</button>
                                    </div>
                                    <button class="buy">
                                          Comprar
                                    </button>
                              </div>
                              <div class="content-frete">
                                    <div class="text-frete">
                                          <div class="image-truck">
                                                <svg class="icon-inline icon-lg svg-icon-text mr-2 align-text-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M632 384h-24V275.9c0-16.8-6.8-33.3-18.8-45.2l-83.9-83.9c-11.8-12-28.3-18.8-45.2-18.8H416V78.6c0-25.7-22.2-46.6-49.4-46.6H49.4C22.2 32 0 52.9 0 78.6v290.8C0 395.1 22.2 416 49.4 416h16.2c-1.1 5.2-1.6 10.5-1.6 16 0 44.2 35.8 80 80 80s80-35.8 80-80c0-5.5-.6-10.8-1.6-16h195.2c-1.1 5.2-1.6 10.5-1.6 16 0 44.2 35.8 80 80 80s80-35.8 80-80c0-5.5-.6-10.8-1.6-16H632c4.4 0 8-3.6 8-8v-16c0-4.4-3.6-8-8-8zM460.1 160c8.4 0 16.7 3.4 22.6 9.4l83.9 83.9c.8.8 1.1 1.9 1.8 2.8H416v-96h44.1zM144 480c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm63.6-96C193 364.7 170 352 144 352s-49 12.7-63.6 32h-31c-9.6 0-17.4-6.5-17.4-14.6V78.6C32 70.5 39.8 64 49.4 64h317.2c9.6 0 17.4 6.5 17.4 14.6V384H207.6zM496 480c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm0-128c-26.1 0-49 12.7-63.6 32H416v-96h160v96h-16.4c-14.6-19.3-37.5-32-63.6-32z"></path></svg>
                                          </div>
                                          <p>Frete</p>
                                    </div>
                                    <div class="frete">
                                          <input type="tel" name="CEP" id="" placeholder="Seu CEP" aria-label="Seu CEP">
                                          <button>Calcular</button>
                                    </div>
                              </div>
                        </div>
                  </div>
            </main>
            <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
            <df-messenger
            intent="WELCOME"
            chat-title="RosegoldeLoja"
            agent-id="2ae7b0cf-ff65-4fd6-a7a2-cd812f8a8c0d"
            language-code="pt-br"
            ></df-messenger>



            <script>
                  const image1 = '../<%=produto.image1%>'
                  const image2 = '../<%=produto.image2%>'
                  const cardItem1 = window.document.getElementById('card-item1') 
                  const cardItem2 = window.document.getElementById('card-item2')    
                        function changePhoto1(){
                              document.getElementById('principal-photo').src=image1;
                              cardItem1.style.transition='all 0.2s'
                              cardItem1.style.height='147px'
                              cardItem1.style.boxShadow='5px 5px 10px -7px grey'
                              cardItem2.style.height='140px'
                              cardItem2.style.boxShadow='none'
                        }
                        function changePhoto2(){
                              document.getElementById('principal-photo').src=image2
                              cardItem2.style.transition='all 0.2s'
                              cardItem2.style.height='147px'
                              cardItem2.style.boxShadow='5px 5px 10px -7px grey'
                              cardItem1.style.height='140px'
                              cardItem1.style.boxShadow='none'
                        }                        
            </script>
            <script>
                  // Get the modal
                  var modal = document.getElementById("myModal");

                  // Get the image and insert it inside the modal - use its "alt" text as a caption
                  var img = document.getElementById("principal-photo");
                  var img2 = document.getElementById("photo2")
                  var modalImg = document.getElementById("img01");
                  var modalImg2 = document.getElementById("img02");

                  
                  img.onclick = function(){
                        modal.style.display = "block";
                        modalImg.src = img.src;
                        modalImg2.src = img2.src;
                  }
                  modal.onclick = function(e){
                        if (e.target == this)  {
                              modal.style.display = 'none';
                        }
                  };
                 

                  // Get the <span> element that closes the modal
                  var span = document.getElementsByClassName("close")[0];

                  // When the user clicks on <span> (x), close the modal
                  span.onclick = function() { 
                        modal.style.display = "none";
                  }
            // -------------- SLIDE --------------

                  let slideIndex = 1;
                  showSlides(slideIndex);

                  function plusSlides(n) {
                  showSlides(slideIndex += n);
                  }

                  function currentSlide(n) {
                  showSlides(slideIndex = n);
                  }

                  function showSlides(n) {
                  let i;
                  let slides = document.getElementsByClassName("mySlides");

                  if (n > slides.length) {
                        slideIndex = 1
                  }

                  if (n < 1) {
                        slideIndex = slides.length
                  }
                  for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";  
                  }
                  slides[slideIndex-1].style.display = "block";  
                  }
            </script>
            <script id="CONTATOR">
                  var currentNumberWrapper = window.document.getElementById('currentNumber')
                  var currentNumber = 1;
                  currentNumberWrapper.innerHTML=currentNumber

                  function decrement(){
                        currentNumber-=1;
                        if (currentNumber<=1) {
                              currentNumber =  1;
                        }
                        currentNumberWrapper.innerHTML=currentNumber;
                  }

                  function increment(){
                        currentNumber+=1;
                        currentNumberWrapper.innerHTML=currentNumber;
                  }
            </script>
</body>
</html>