<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>RoseGold</title>
            <link rel="shortcut icon" href="../assets/imgs/favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
            <link rel="stylesheet" href="../assets/css/reset.css">
            <link rel="stylesheet" href="../assets/css/style.css"> 
            <link rel="stylesheet" href="../assets/css/responsive.css">
            <style>

            </style>
      </head>
      <body>
            <header>
                  <div class="header-first">
                        <div class="container">
                              <p>Envio para todo Brasil</p>
                              <a href="#carrinho">
                                    <i class="fa-solid fa-cart-shopping"></i>
                              </a>
                        </div>
                  </div>

                  <div class="header-two">
                        <div class="container">
                             
                              <img src="../assets/imgs/rosegold.png" alt="logo">   
                        
                        <div class="menu-section">
                              <!--Criando o menu hamburguer-->
                              <div class="container-menu">
                                    <input type="checkbox" id="checkbox-menu">
                                    <label class="menu-button-container" for="checkbox-menu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    </label>
                              <!--------------------------->
                                    <nav>
                                          <ul class="menu">
                                                <li><a href="../index.html">Home</a></li>
                                                <li class="mobile_dropdown">
                                                      <a href="#">
                                                      <label for="btn-2" class="first">
                                                                  Produtos
                                                                  <span class="fas fa-caret-down"></span>
                                                      </label>
                                                      </a>
                                                      <input type="checkbox" id="btn-2">
                                                      <ul>
                                                      <li><a href="../com">Conjuntos com bojo</a></li>
                                                      <li><a href="../sem">Conjuntos sem bojo</a></li>
                                                      <li><a href="../noite">Noite</a></li>
                                                      </ul>
                                                </li>
                                                <li><a href="../contato.html">Contato</a></li>
                                                <li><a href="../guia-medidas.html">Guia de medidas</a></li>
                                                <li><a href="#">Sobre nós</a></li>
                                          </ul>
                                    </nav>
                              </div>
                        </div>
                              
                        </div>

                  </div>
            </header>
            <main id="item">
                  <div class="item">
                        <div class="photos-card">
                              <div class="card-item" id="card-item1" onclick="changePhoto1()">
                                    <div class="photo">
                                          <img src="../<%=produto.image1%>" alt="Produto - 1ª imagem">
                                    </div>
                              </div>

                              <div class="card-item" id="card-item2" onclick="changePhoto2()">
                                    <div class="photo">
                                          <img src="../<%=produto.image2%>" alt="Produto - 2ª imagem">
                                    </div>
                              </div>
                        </div>
                        <div class="principal-photo-card">
                              <img src="../<%=produto.image1%>" alt="Imagem principal" id="principal-photo">
                        </div>
                        <div class="details">
                              <h1><%= produto.title %> </h1>
                              <h2><%= produto.price %> </h2>
                              <div class="category-controls">
                                    <p>
                                    Tamanho
                                    </p>
                                    <form>
                                    <select name="order" id="order appearance-select" aria-label="Ordenar por:">
                                                <option value="P">P</option>
                                                <option value="M">M</option>
                                                <option value="G">G</option>
                                                <option value="GG">GG</option>
                                          </select> 
                                    </form>
                              </div>
                        </div>
                  </div>
            </main>

            <script>
                  const image1 = '../<%=produto.image1%>'
                  const image2 = '../<%=produto.image2%>'
                  const cardItem1 = window.document.getElementById('card-item1') 
                  const cardItem2 = window.document.getElementById('card-item2')    
                        function changePhoto1(){
                              document.getElementById('principal-photo').src=image1;
                              cardItem1.style.transition='all 0.4s'
                              cardItem1.style.height='147px'
                              cardItem1.style.boxShadow='5px 5px 10px -6px grey'
                              cardItem2.style.height='140px'
                              cardItem2.style.boxShadow='none'
                        }
                        function changePhoto2(){
                              document.getElementById('principal-photo').src=image2
                              cardItem2.style.transition='all 0.4s'
                              cardItem2.style.height='147px'
                              cardItem2.style.boxShadow='5px 5px 10px -6px grey'
                              cardItem1.style.height='140px'
                              cardItem1.style.boxShadow='none'
                        }                        
            </script>
</body>
</html>