<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Rosegolde</title>
            <link rel="shortcut icon" href="assets/imgs/favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
            <link rel="stylesheet" href="assets/css/reset.css">
            <link rel="stylesheet" href="assets/css/style.css"> 
            <link rel="stylesheet" href="assets/css/responsive.css">

      </head>
      <body>
            <header>
                  <div class="header-first">
                        <div class="container">
                              <p>Envio para todo Brasil</p>
                              <a href="../carrinho">
                                    <i class="fa-solid fa-cart-shopping"></i>
                              </a>
                        </div>
                  </div>

                  <div class="header-two">
                        <div class="container">
                             
                              <img src="assets/imgs/rosegold.png" alt="logo">   
                        
                        <div class="menu-section">
                              <!--Criando o menu hamburguer-->
                              <div class="container-menu">
                                    <input type="checkbox" id="checkbox-menu">
                                    <label class="menu-button-container" for="checkbox-menu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    </label>
                              <!--------------------------->
                                    <nav>
                                          <ul class="menu">
                                                <li><a href="index.html">Home</a></li>
                                                <li class="mobile_dropdown">
                                                      <a href="#">
                                                      <label for="btn-2" class="first">
                                                                  Produtos
                                                                  <span class="fas fa-caret-down"></span>
                                                      </label>
                                                      </a>
                                                      <input type="checkbox" id="btn-2">
                                                      <ul>
                                                      <li><a href="com">Conjuntos com bojo</a></li>
                                                      <li><a href="sem">Conjuntos sem bojo</a></li>
                                                      <li><a href="noite">Noite</a></li>
                                                      </ul>
                                                </li>
                                                <li><a href="contato.html">Contato</a></li>
                                                <li><a href="guia-medidas.html">Guia de medidas</a></li>
                                                <li><a href="#">Sobre nós</a></li>
                                          </ul>
                                    </nav>
                              </div>
                        </div>
                              
                        </div>

                  </div>
            </header>
            <main id="products">
                  <div class="category-controls">
                        <h1><%= title %> </h1>
                        <form>
                             <select name="order" id="order appearance-select" aria-label="Ordenar por:">
                                    <option value="price-ascending">Preço: Menor ao maior</option>
                                    <option value="price-descending">Preço: Maior ao menor</option>
                                    <option value="created-descending">Mais novo ao mais antigo</option>
                                    <option value="created-ascending">Mais antigo ao mais novo</option>
                              </select> 
                        </form>
                  </div>
                  <div class="category-body">
                        <div class="filtro-text">
                              <h2>Filtrar por</h2>
                              <h3>Tamanho</h3>
                              <div class="check">
                                    <label class="container">P
                                          <input type="checkbox" name="P" id="P">
                                          <span class="checkmark"></span>
                                    </label>
                                    <label class="container">M
                                          <input type="checkbox" name="M" id="M">
                                          <span class="checkmark"></span>
                                    </label>
                                    <label class="container">G
                                          <input type="checkbox" name="G" id="G">
                                          <span class="checkmark"></span>
                                    </label>
                              </div>
                        </div>
                              
                        <div class="all-card-products">
                              <% for (let i=0;i<products.length;i++) { %>
                                          <div class="card product">
                                                <a href="<%=type%>/<%=products[i].id%> ">
                                                <div class="image">
                                                      <img src="<%= products[i].image1 %> " alt="Conjunto com bojo"  onmouseover="this.src='<%= products[i].image2 %>';" onmouseout="this.src='<%= products[i].image1 %>';">
                                                </div>
                                                </a>
                                                <div class="content">
                                                      <p class="title">
                                                            <a href="com/<%=products[i].id%> ">
                                                            <%=products[i].title%> 
                                                            </a>
                                                      </p>
                                                      <p class="price">
                                                            <%=products[i].price%>
                                                      </p>
                                                      <button name="button" class="btn"> Adicionar ao carrinho</button>
                                                </div>
                                          </div>
                              <% } %> 

                        </div>
                  </div>
                  
            </main>
</body>
</html>