<!DOCTYPE html>
<html lang="pt-br">
      <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Rosegolde</title>
            <link rel="shortcut icon" href="assets/imgs/favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
            <link rel="stylesheet" href="assets/css/reset.css">
            <link rel="stylesheet" href="assets/css/style.css"> 
            <link rel="stylesheet" href="assets/css/responsive.css">

      </head>
      <body>
            <%-include('../include/menu')%>
            <main id="products">
                        <div class="category-controls">
                              <h1><%= title %> </h1>
                              <form>
                              <select name="order" id="order appearance-select" aria-label="Ordenar por:">
                                          <option value="price-ascending" onclick="">Preço: Menor ao maior</option>
                                          <option value="price-descending">Preço: Maior ao menor</option>
                                          <option value="created-descending">Mais novo ao mais antigo</option>
                                          <option value="created-ascending">Mais antigo ao mais novo</option>
                                    </select> 
                              </form>
                        </div>
                  <div class="category-body">
                              <div class="filtro-text">
                                    <h3>Filtrar por</h3>
                                    <h3>Tamanho</h3>
                                    <div class="check">
                                          <label class="container">P
                                                <input type="checkbox" name="P" id="P">
                                                <span class="checkmark"></span>
                                          </label>
                                          <label class="container">M
                                                <input type="checkbox" name="M" id="M">
                                                <span class="checkmark"></span>
                                          </label>
                                          <label class="container">G
                                                <input type="checkbox" name="G" id="G">
                                                <span class="checkmark"></span>
                                          </label>
                                    </div>
                              </div>
                          
                        
                              <div class="all-card-products">
                                    <% for (let i=0;i<products.length;i++) { %>
                                                <div class="card product">
                                                      <a href="<%=type%>/<%=products[i].id%> ">
                                                      <div class="image">
                                                            <img src="<%= products[i].image1 %> " alt="Conjunto com bojo"  onmouseover="this.src='<%= products[i].image2 %>';" onmouseout="this.src='<%= products[i].image1 %>';">
                                                      </div>
                                                      </a>
                                                      <div class="content">
                                                            <p class="title">
                                                                  <a href="com/<%=products[i].id%> ">
                                                                  <%=products[i].title%> 
                                                                  </a>
                                                            </p>
                                                            <p class="price">
                                                                  <%=products[i].price%>
                                                            </p>
                                                            <button name="button" class="btn"> Adicionar ao carrinho</button>
                                                      </div>
                                                </div>
                                    <% } %> 
                              </div>
                        
                  </div>
                  
            </main>
            <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
            <df-messenger
            intent="WELCOME"
            chat-title="RosegoldeLoja"
            agent-id="2ae7b0cf-ff65-4fd6-a7a2-cd812f8a8c0d"
            language-code="pt-br"
            ></df-messenger>

            
</body>
</html>